/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/.env
/.idea
/.vscode
npm-debug.log
yarn-error.log
